<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-7">
      <div class="form-page-wrapper">
        <div class="form-card">
          <%= render "shared/back_link" %>
          <h2 class="form-card-title">Create meal plan</h2>
          <%= render "form", meal_plan: @meal_plan %>
        </div>
      </div>
    </div>
  </div>
</div>
