// Import page-specific CSS files here.
@import "home";

.tasks-card {
  background-image: url(tasks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(0, 0, 0, 0);
}

.tasks-card:hover {
  background-image: none;
  color: white;
}

.calendars-card {
  background-image: url(calendars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(0, 0, 0, 0);
}

.calendars-card:hover {
  background-image: none;
  color: white;
}

.families-card {
  background-image: url(families.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(0, 0, 0, 0);
}

.families-card:hover {
  background-image: none;
  color: white;
}
