<!-- To do -->
  <div class="rounded-pill bg-primary-subtle text-primary fw-bold px-3 py-2
   <%=  task.status ? "d-none" : "" %>"
        data-task-status-target="todo"
        data-turbo-confirm="Mark complete?"
        data-action="click->task-status#complete"
        type="button">
    <i class="fa-regular fa-circle border-0"></i> To do
  </div>
<% if current_user.role =="parent" %>
  <!-- -->
  <div class="rounded-pill bg-primary-subtle text-primary fw-bold px-3 py-2
              <%=  task.status && !task.validation ? "" : "d-none" %>"
       data-task-status-target="done"
       data-turbo-confirm="Validate?"
       data-action="click->task-status#validate"
       type="button">
    <i class="fa-solid fa-hourglass-half border-0">
    </i> Validate?
  </div>
<% else %>
  <!-- -->
  <div class="rounded-pill bg-primary-subtle text-primary fw-bold px-3 py-2 d-none"
        data-task-status-target="done">
    <i class="fa-solid fa-hourglass-half border-0 disable">
    </i> Pending
  </div>

<% end %>
  <!-- Approved -->
<div class="rounded-pill bg-primary-subtle text-primary fw-bold px-3 py-2
            <%=  task.validation ? "" : "d-none" %>"
      data-task-status-target="approved">
  <i class="fa-regular fa-circle-check border-0 disable"></i> Done
</div>
