<div class="container mt-4">
  <%= render "tasks", tasks: @user_tasks, user: @user, title: "My tasks"  %>

  <% if @family_tasks.any?  %>
    <%= render "tasks", tasks: @family_tasks, user: @user, title: "Family tasks"  %>
  <% end %>
</div>
