<div class="container mt-4">
  <%= link_to root_path, class: "back-link" do %><i class="bi bi-chevron-left"></i> Back<% end %>
  <%= render "tasks", tasks: @user_tasks, user: @user, title: "My tasks"  %>

  <% if @family_tasks.any?  %>
    <%= render "tasks", tasks: @family_tasks, user: @user, title: "Family tasks"  %>
  <% end %>
</div>
