<h1>Tasks</h1>

<div class="card">
  <h2>My tasks</h2>
  <ul>
    <% @user_tasks.each do |task| %>
      <li><%= task.name %></li>
    <% end %>
  </ul>
</div>

<% if @role = "parent" %>
  <h2>The family tasks</h2>
  <div class="card">
    <ul>
      <% @family_tasks.each do |task| %>
      <li><%= task.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
