<div class="card-body border border-dark-subtle mt-3 mx-auto col-md-6 bg-white">
    <h1 class="mt-4 mb-2 ms-4 d-flex gap-3">New task
      <%= link_to task_templates_path do %>
        <div style= "text-decoration: none; cursor: pointer; color: inherit;">
          <i class="fa-regular fa-file-lines text-black fs-3"></i>
        </div>
      <% end %>
    </h1>
  <%= render "form", task: @task %>
</div>
