<div class="container mt-4 d-flex justify-content-between">
  <div class="col-md-7 bg-white p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>New task</h2>
      <div class="text-secondary">
        ←
        <%= link_to "Back to tasks", tasks_path, class: "link-secondary link-underline-secondary" %>
      </div>
    </div>
    <%= render "form", task: @task %>
  </div>
  <div class="col-md-4 bg-white p-4">
    <h2 class="mb-3">Templates</h2>
    <%= link_to "Go to templates page", task_templates_path,
      class: "btn btn-outline-secondary btn-sm rounded-pill" %>
  </div>
