<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-7">
      <div class="form-page-wrapper">
        <div class="form-card">
          <div class="d-flex align-items-center justify-content-between mb-2">
            <%= render "shared/back_link", url: root_path %>
            <%= link_to task_templates_path, class: "text-decoration-none text-secondary" do %>
              <i class="fa-regular fa-file-lines fs-5"></i>
            <% end %>
          </div>
          <h2 class="form-card-title">New task</h2>
          <%= render "form", task: @task %>
        </div>
      </div>
    </div>
  </div>
</div>
