<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-7">
      <div class="form-page-wrapper">
        <div class="form-card">
          <%= render "shared/back_link", url: root_path %>
          <h2 class="form-card-title">Edit recipe</h2>
          <%= render "form", recipe: @recipe %>
        </div>
      </div>
    </div>
  </div>
</div>
