<div class="container py-4 col-md-6">
  <div class="card shadow-sm bg-white rounded-3">
    <div class="card-body">
      <h1 class="card-title mb-4">Add New Recipe</h1>
      <%= render "form", recipe: @recipe %>
    </div>
  </div>
</div>
