<div class="container mt-4" data-controller="point-adjustment">
  <div class="d-flex align-items-center gap-3 mb-4">
    <h1 class="mb-0">Family Rewards</h1>
    <%= link_to new_reward_path, class: "text-decoration-none text-secondary" do %>
      <i class="bi bi-plus-circle fs-4"></i>
    <% end %>
    <%= link_to reward_templates_path, class: "text-decoration-none text-secondary" do %>
      <i class="fa-regular fa-rectangle-list fs-4"></i>
    <% end %>
  </div>

  <div class="row g-3">
    <% current_user.family.users.each do |member| %>
      <div class="col-lg-3 col-md-6">
        <%= render "member_column",
              member: member,
              rewards: @rewards.select { |r| r.user_id == member.id },
              color: member.color %>
      </div>
    <% end %>
  </div>

  <%= render "point_adjustment_modal" %>
</div>
