<div class="card-body">
  <button type="button" class="btn-close float-end me-3" data-bs-dismiss="modal"></button>
    <h1 class="mt-4 mb-2 text-center fw-bold">Edit Member</h1>

    <%= render "form", member: @member %>
</div>
