<div class="card-body">
  <button type="button" class="btn-close float-end me-3" data-bs-dismiss="modal"></button>
    <h1 class="mt-4 mb-2 text-center fw-bold">Edit Member
      <%= link_to family_member_path(@family, @member),
                data: { turbo_method: :delete,
                turbo_confirm: "Are you sure?" },
                class:"text-dark" do %>
      <i class="bi bi-trash fs-4 ms-3"></i>
      <% end %></h1>

<%= render "members/form", member: @member %>

</div>
