<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-7">
      <div class="form-page-wrapper">
        <div class="form-card">
          <h2 class="form-card__title">New event</h2>
          <%= render "form", event: @event %>
        </div>
      </div>
    </div>
  </div>
</div>
