.base-card {
  border: none;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  height: 100%;
  background-color: #fff;
  border-radius: 1rem;
}

.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-hover:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.06);
}
